
// Phone-sizes devices in portrait mode
@include respond(portrait-phones) { }
// Phone-sizes devices in landscape mode
@include respond(landscape-phones) { }
// All phone sizes
@include respond(all-phones) { }
// Tablet-sizes in portrait mode
@include respond(portrait-tablets) { }
// All tablet sizes
@include respond(tablets) { }
// Greater than 768px by default.
@include respond(desktop) { }
// A`la default grid
@include respond("max-width: 960px") {}
// Greater than 1200px
@include respond(document-width) { }
// Up to 2880px
@include respond(large-screens) { }

@include respond(print) {
    @page {
        margin: 1cm 1cm 1cm 3cm;
    }
}

.sidebar { 
    @include respond(print) { display: none; }
    padding-right: 30px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
    text-align: right;
    .line { 
        border-bottom: 1px solid black;
    }
    a {
        color: black;
        &:hover {
            color: black;
        }
    }
    strong { }
    .half { 
        @include respond(portrait-phones) {
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }
        ul {
            margin-bottom: 30px;
            li {
                padding-left: 15px;
                a {
                    &:hover {

                    }
                }
            }
        }
    }
}
