@mixin placeholder {
    ::-webkit-input-placeholder {@content}
    :-moz-placeholder           {@content}
    ::-moz-placeholder          {@content}
    :-ms-input-placeholder      {@content}  
}
// Phone-sizes devices in portrait mode
@include respond(portrait-phones) { }
// Phone-sizes devices in landscape mode
@include respond(landscape-phones) { }
// All phone sizes
@include respond(all-phones) { }
// Tablet-sizes in portrait mode
@include respond(portrait-tablets) { }
// All tablet sizes
@include respond(tablets) { }
// Greater than 768px by default.
@include respond(desktop) { }
// A`la default grid
@include respond("max-width: 960px") {}
// Greater than 1200px
@include respond(document-width) { }
// Up to 2880px
@include respond(large-screens) { }

@include respond(print) {
    @page {
        margin: 1cm 1cm 1cm 3cm;
    }
}

$font-xxl: 48px;
$font-xl: 36px;
$font-l: 24px;
$font-m: 18px;
$font-s: 14px;
$font-xs: 12px;
$font-xxs: 10px;

.center {
    text-align: center;
}



h1, h2, h3, h4, h5, h6 {
    padding: 0px;
}


.navigate {
    @include respond(print) { display: none; }
    width: 100%;
    min-height: 58px;
    padding: 6px 0;
    display: block;
    //margin-bottom: 20px;
    background: rgba(255,255,255,0.99);
    position: relative;
    @include respond(all-phones) {
        border: none;
        .column, .columns {
            min-height: 0;
        }
    }
    &.fixed {
        position: fixed;
        z-index: 99999;
        top: 0px;
    }
    &.pinned {
        position: absolute;
    }
    a.toggle {
        display: none;
        @include respond(all-phones) {
            top: 18%;
            right: 4%;
            width: 46px;
            position: absolute;
            text-align: center;
            display: inline-block;
            color: $navbar-link-color;
            background: $navbar-color;
            @include line-and-height(40px);
            @include border-radius($button-radius);
            @include font-size($larger);
            &:hover {
                background: lighten($navbar-color, 5%);
            }
            &:active, &.active {
                background: darken($navbar-color, 5%);
            }
        }
    }
    @include respond(tablets) {
        > ul > li > .btn a {
            padding: 0 $small 0 $small !important;
        }
        ul > li .dropdown ul li.active .dropdown {
            left: -$min-device-width;
        }
    }
    .logo {
        .site-name { 
            padding: 0px;
            display: block;
            margin: 18px 0;
            a {
                text-indent: -9999em;
                font-size: 11px;
                color: white;
                width: 140px;
                display: block;
                height: 21px;
                background: url('../img/staircase_logo.png') 50% 50% no-repeat;
            }
        }
    }
    nav {
        margin-top: 14px;
        ul {
            margin: 0;
            float: none;
            text-align: center;
            @include respond(all-phones) {
                position: absolute;
                display: block;
                width: 100% !important;
                height: 0;
                max-height: 0;
                top: 70px;
                left: 0;
                overflow: hidden;
                text-align: center;
                background: darken($navbar-color, 5%);
                &.active {
                    height: auto;
                    max-height: 600px;
                    z-index: 999998;
                    @include transition-duration(.5s);
                    @include box-shadow(0 2px 2px darken($navbar-color, 15%));
                }
            }        
            li {
                &:hover {
                    @include respond(all-phones) { 
                        background: white;
                    }
                }
                &.contact {
                    display: none;
                    @include respond(all-phones) {            
                        display: block; 
                    }
                }
                display: inline-block;
                text-align: center;
                padding-bottom: 0;
                margin: 0 15px;
                line-height: 1.85714em;
                @include respond(all-phones) {                
                    display: block;            
                    position: relative;
                    min-height: 40px;
                    max-height: 320px;
                    height: auto;
                    width: 100%;
                    border-right: 0 !important;
                    @include box-shadow(none);
                    @include transition-duration(.5s);
                }
                .line {
                    left: 13px;
                    bottom: 5px;
                }
                a {
                    padding: 0 ms(0);
                    white-space: nowrap;
                    color: $navbar-link-color;
                    font-size: 11px;
                    text-transform: uppercase;
                    i.icon-popup {
                        position: absolute;
                    }
                }
                .btn {
                    border-color: darken($navbar-color, 30%) !important;
                }
                .dropdown {
                    width: auto;
                    min-width: 0;
                    max-width: $min-device-width;
                    height: 0;
                    position: absolute;
                    background: lighten($default-color, 3%);
                    overflow: hidden;
                    z-index: 999;
                }
                @include respond(all-phones) {
                    .dropdown {
                        width: 100%;
                        max-width: 100%;
                        position: relative;
                        @include box-shadow(none !important);
                    }
                    &.active .dropdown {
                        border-bottom: 1px solid darken($navbar-color, 10%);
                    }
                    &.active .dropdown ul {
                        position: relative;
                        top: 0;
                        background: darken($navbar-color, 8%);
                        min-height: 40px;
                        max-height: 250px;
                        height: auto;
                        overflow: auto;
                        @include box-shadow(none !important);
                        li {
                            line-height: 40px;
                            height: 40px;
                            border-bottom: darken($navbar-color, 5%);
                            a {
                                color: $white;
                                border-bottom: 1px solid darken($navbar-color, 10%);
                                &:hover {color: $body-link-color;}
                            }
                        }
                    }
                }
            }
        }
    }
    .intouch {
        float: right;
        display: block;
        padding: 0 32px;
        font-size: 11px;
        line-height: 28px;
        background: rgba(255,255,255,0);
        margin-top: 13px;
        border: 1px solid black;
        color: black;
        text-transform: uppercase;
        text-decoration: none;
        &:hover {
            background: black;
            color: white;    
        }
        @include respond(all-phones) { 
            display: none;
        }
    }
}

#slider {    
    width: 100%;
    display: block;
    position: relative;
    ul {
        li {            
            width: 100%;
            display: block;
            text-align: left;
            hgroup {
                h1 {
                    font-weight: 900;
                    font-size: 72px;
                    line-height: 72px;
                    margin-bottom: 9px;
                    text-transform: uppercase;
                    padding: 0px;
                }
                h2 {
                    font-family: 'Times New Roman', serif;
                    font-style: italic;
                    font-size: 24px;
                    line-height: 24px;
                    margin-bottom: 3px;
                    padding: 0px;
                }
                p {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 20px;
                    padding: 0px;
                }
                .btn {
                    display: inline-block;                    
                    font-size: 13px;
                    line-height: 38px;
                    margin: 0 10px;                    
                    a {
                        font-weight: 400;
                        padding: 0 32px;
                    }
                }               
            }             
            &.white {
                p, h1, h2 {
                    color: white;
                }
                .btn {
                    background: rgba(255,255,255,0);
                    border: 1px solid white;
                    a {
                        color: white;
                    }
                }
            }
            &.black {
                p, h1, h2 {
                    color: black;
                }
                .btn {
                    background: rgba(255,255,255,0);
                    border: 1px solid black;
                    a {
                        color: black;
                    }
                }
            }
            &.tleft {
                text-align: left;
                .btn {
                    margin-left: 0px;
                }
            }
            &.tcenter {
                text-align: center; 
            }
            &.tright {
                text-align: right; 
                .btn {
                    margin-right: 0px;
                }
            }
            &.slide1 {
                background: url('../img/slide1.jpg') 50% 50% no-repeat;
                background-size: cover;
            }
            &.slide2 {
                background: url('../img/slide2.jpg') 50% 50% no-repeat;
                background-size: cover;

            }
        }
    }
}
sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.6em;
}
sub { top: 0.6em; }

.site-footer {
    @include respond(print) { display: none; }
    color: #666666;
    height: 30px;
    display: block;
    margin-bottom: 20px;
    line-height: 1.85714em;
    padding: 20px 0;
    font-size: 11px;
    .aleft {
        text-align: left;
        @include respond(portrait-phones) { 
            text-align: center;
        }
    }
    .aright {
        text-align: right;
        float: right;
        @include respond(portrait-phones) {
            text-align: center;
            float: none;
        }
    }
    a {
        color: #666666;
    }     
    sup {
        font-size: 6px;
    }
    .lang {
        display: inline-block;
        margin-left: 30px;
    }
}

.linkhover { 
    position: relative;
    display: inline-block;
    &:hover {
        .line { 
            border-bottom: 1px solid #0099FF;
        }
    }
    .animated {           
        white-space:nowrap;
        &:hover {
            cursor: pointer;
            color: #0099FF;
        }
    }
    .line {
        bottom: 2px;
        position: absolute;
        display: none;
        height: 1px;
    }
}

.wrapper {
    padding-top: 70px;
    @include respond(all-phones) { 
        padding-top: 0px;
    }
}

#breadcrumbs {
    @include respond(print) { display: none; }
    list-style: none;
    margin: 30px 0 0 0;
    overflow: hidden;
    display: inline-block;
    text-align: center;
    width: 100%;
    font-size: 10px;
    line-height: 18px;
    li{
        display: inline-block;
        margin: 0 7px;
    }
    .separator{
        color: #999;
    }
}

@mixin background-sizer($size) {
    -webkit-background-size: $size !important;
    -moz-background-size: $size !important;
    -o-background-size: $size !important;
    background-size: $size !important;
}
#main-pt.parralax {
    @include background-sizer(cover);
    @include respond(print) { display: none; }
}
.eight.columns.centered {
    @include respond(print) { margin-left: 0px; }
}
.post-edit-link  {
    @include respond(print) { display: none; }
}
.post-header {
    color: black;
    text-align: center;
    margin: 30px 0 70px 0;
    @include respond(print) { 
        text-align: center;
        margin: 0 0 1cm 0;
        width: 795px;
        padding-right: 3cm;
    }
    &.background--light {
        color: black;
        .entry-title,
        .hero-title,
        .desc-title { color: black; }
    }
    &.background--dark {
        color: white;
        .entry-title,
        .hero-title,
        .desc-title { color: white; }
    }
    .entry-title {        
        font-family: 'Times New Roman',serif;
        font-size: 24px;
        font-style: italic;
        line-height: 24px;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
    .hero-title {
        font-size: 72px;
        font-weight: 900;
        line-height: 72px;
        margin: 0 0 15px;
        padding: 0px;
        text-align: center;
        @include respond(portrait-phones) { 
            font-size: 46px;
            line-height: 46px;
        }
    }
    .desc-title {
        font-size: 14px;
        text-align: center;
        line-height: 22px;
        margin: 0px;
        padding: 0px;     
    }
    p {
        text-align: center;
    }
}
#container {
    width: 100%;
    height: 100%;
}

#container.error h1 {
    height: 100%;
    font-size: 200%;
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #222;
    letter-spacing: -0.04em;
    text-align: center;

}
.entry-content {
    margin-bottom: 100px;
    h1 { 
        margin: 50px 0 48px; 
    }
    h2 { 
        margin: 50px 0 36px; 
    }
    h3 { 
        margin: 50px 0 24px; 
    }
    h4 { 
        margin: 50px 0 18px; 
    }
    h5 { 
        margin: 50px 0 14px; 
    }
    h6 { 
        margin: 50px 0 12px; 
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 700;
        &:first-child {
            margin-top: 0px;
        }
    }
    ul { 
        list-style: disc; 
        margin: 10px 0 0 10px; 
    }
    ol  { 
        margin: 10px 0 0 10px; 
    }
    ul, ol {
        line-height: 22px; 
        padding-left: 10px; 
        li {
            padding: 0 0 0 5px;
        }
    }
    ul ul, ul ol, ol ol, ol ul { 
        margin: 0 0 0 5px;  
    }
    ul ul li, ul ol li, ol ol li, ol ul li { 
        margin-bottom: 0px; 
    }
    hr {
        background-color: white;
        border: 1px solid #333333;
        height: 1px;
        margin: 50px auto;
        max-width: 370px;
        position: relative;
        &:before {
            font: {
                family: "Entypo";
                size: 1.85rem;
            }
            content: "\1f516";
            background: white;
            color: #333;
            padding: 20px;
            left: 50%;
            margin-left: -55px;
            position: absolute;
            right: 50%;
            text-align: center;
            top: 50%;
            transform: translateY(-50%);
            width: 70px;
        }
    }
}

.testimonial {
    margin: 20px 0 !important;
    overflow: hidden;
    .testimonial-inner {
        .testimonial-image {
            border-radius: 50%;
            float: left;
            height: 80px;
            margin: 0 20px 80px 0;
            overflow: hidden;
            width: 80px;
            img {}
        }
        .testimonial-content {
            p {
                font-size: 14px;
                font-weight: 300;
                font-style: italic;
                text-align: justify;
                padding-right: 5px;
            }
        }
        .testimonial-meta {
            line-height: 18px; 
            margin-left: 100px;
            overflow: hidden;
            position: relative;
            strong { 
                display: block;
                font-weight: 500;
            }
            span { 
                text-transform: uppercase;
                font-size: 10px;
                line-height: 14px;
                a {
                    color: #999999;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
form { 
    input[type=text],
    input[type=url],
    input[type=tel],
    input[type=number],
    input[type=color],
    input[type=email] {
        @include box-shadow(rgba(0,0,0,0.2) 0px 1px inset);
        border: 1px solid #d4d4d4;
        height: 41px;
        border-radius: 0px;
        color: #333;
        padding: 0 10px;
        font-family: $font-family;
        display: inline-block;
        margin: 7px 0;
        font-size: 14px;
        width: 100%;
        @include placeholder {
            font-weight: 300;
            color: #999;
        }
    }
    textarea {
        @include box-shadow(rgba(0,0,0,0.2) 0px 1px inset);
        border: 1px solid #d4d4d4;
        color: #333;
        padding: 10px;
        font-family: $font-family;
        display: inline-block;
        font-size: 14px;
        line-height: 22px;
        margin: 7px 0 15px;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        min-height: 220px;
        height: 220px;
        @include placeholder {
            font-weight: 300;
            color: #999;
        }
    }
    label.label-floatlabel {
        font-weight: normal;
        font-size: 11px;
        margin-left: 2px;
        color: #999;
    }
}

.wpcf7-form {
    dl {
        width: 100%;
        dt {
            width: 48%;
            margin-right: 2%;
            display: block;
            float:left;
            font-weight: normal;
        }
        dd {
            width: 48%;
            margin-left: 2%;
            display: block;
            float:left;
        }
    }
    .wpcf7-not-valid-tip {
        font-size: 11px;
        text-transform: uppercase;
        color: #ff5539;
    }
    .wpcf7-submit {
        float: right;
        display: block;
        padding: 0 32px;
        font-size: 11px;
        height: 28px;
        color: #000000;
        text-decoration: none;
        text-transform: uppercase;
        line-height: 28px;
        background: rgba(255,255,255,0);
        border: 1px solid black;
        &:hover {
            background: black;            
            color: white;
        }
    }
}

.counters  {
    .pad {
        margin: 0 auto;
        width: auto;
        ul.roundabout-holder {
            float: left;
            height: 36px;
            list-style: none outside none;
            margin: 0 14px 0 0;
            padding: 0;
            width: 1em;
            li.roundabout-moveable-item {
                color: black;
                cursor: pointer;
                font-family: "Helvetica Neue",Arial,sans-serif;
                font-weight: bold;
                height: 36px;
                font-size: 36px;
                line-height: 36px;
                text-align: center;
                width: 1em;
            }
        }
        .roundabout-in-focus {
            cursor: auto;
        }
    }
}

.row.thumbrow {
    @include respond(print) { margin-top: 1cm !important; }
    .post-header {
        @include respond(print) { margin-bottom: 1cm !important; }
    }
}

/* Trick the WordPress Theme Bot *Evil* */
.aligncenter { display: block; margin: 0 auto; }
.alignright { float: right; margin: 0 0 1em 1em; }
.alignleft { float: left; margin: 0 1em 1em 0; }
.floatleft { float: left; }
.floatright { float: right; }

.wp-caption { text-align: center; background: #F0F0F0; padding-top: 4px; margin: 10px }
.wp-caption img { margin: 0; padding: 0; border: none }
.wp-caption .wp-caption-text { font-size: 11px; line-height: 17px; padding: 0 4px 5px; margin: 0 }

#leveled {
    background: url('../img/timeline.png') top center no-repeat;
    width: 103.125%;
    overflow: hidden;
    margin-left: -1.562%;
    margin-bottom: 1.875em;
    .levels {
        width: 46.576%;   
        min-height: 450px;
        margin-bottom: 3.75em;
        border-bottom: 1px solid #E1E1E1;
        .time {
            width: 38px;
            height: 32px;
            display: block;
            position: absolute;
            text-indent: -9999em;
        }
        &:nth-child(odd) { 
            float: left;
            margin-right: 3.35%;
            .time {
                background: url('../img/vd.png') center right no-repeat;
                top: 60px;
                right: -40px;
            }           
        }
        &:nth-child(even) { 
            float: right;
            margin-left: 3.35%;
            .time {
                background: url('../img/ch.png') center left no-repeat;
                top: 120px;
                left: -38px;
            }            
        }
        iframe, object, embed {
            width: 100%;
            max-width: 100%;
            height: 248px;
        }
        &.format-quote {
            text-align: center;
            blockquote {
                text-align: center;
                font-size: 36px;
                color: black;
                font-weight: 700;
                line-height: 48px;
                padding-top: 45px;
                border-left: 0px solid #0099FF;
                cite {
                    color: #0099FF;
                    font-size: 14px;
                    font-weight: normal;
                }
            }
        }
        .entry-box { 
            span {
                text-align: center;
                width: 100%;
                display: inline-block;
            }
            padding: 20px;
            .entry-title {
                text-align: center;   
                font-size: 24px; 
                font-weight: 700;
                line-height: 33px;
                a {
                    color: black;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
            .entry-content {
                text-align: center;   
                margin: 0px;
            }
        }
        &.format-link {     
            text-align: center;            
            .link-title {
                width: 100%;
                text-align: center;   
                font-size: 24px; 
                font-weight: 700;
                line-height: 33px;
                a {
                    color: black;
                    &:hover {
                        color: #0099FF;
                        text-decoration: none;
                    }
                }
            }
            .link-content {
                width: 100%;
            }
        }
    }
}

.sidebar { 
    @include respond(print) { display: none; }
    padding-right: 30px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 20px;
    text-align: right;
    .line { 
        border-bottom: 1px solid black;
    }
    a {
        color: black;
        &:hover {
            color: black;
        }
    }
    strong { }
    .half { 
        @include respond(portrait-phones) {
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }
        ul {
            margin-bottom: 30px;
            li {
                padding-left: 15px;
                a {
                    &:hover {

                    }
                }
            }
        }
    }
}
aside {
    @include respond(print) { display: none; }
}
.single-post { 
    .entry-content {
        padding-right: 16.9445%;
        @include respond(print) { padding-right: 0; }
        iframe, object, embed {
            width: 100%;
            max-width: 100%;
            height: 445px;
        }
    }
    .post-meta { 
        @include respond(print) { display: none; }
        padding-left: 80px;
        .post-author {
            img {
                width: 80px;
                height: 80px;
            }
        }
        .box {
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 20px;
            text-align: right;
            p {
                text-align: right;
                font-size: 12px;
                line-height: 18px;
            }
        }
        .tags {
            a {
                line-height: 30px;
                -webkit-perspective: 1000px;
                -moz-perspective: 1000px;
                perspective: 1000px;
                font-size: 12px;
                color: #333;
                margin: 3px 0 3px 5px;
                &:hover, &:focus {
                    color: white;
                    span {
                        -webkit-transform: rotateX(90deg) translateY(-22px);
                        -moz-transform: rotateX(90deg) translateY(-22px);
                        transform: rotateX(90deg) translateY(-22px);
                        &::before {
                            color: white;
                            background: #0099FF;	
                        }
                    }
                }
                span {
                    position: relative;
                    display: inline-block;
                    padding: 0 14px;
                    background: #ECECEC;
                    -webkit-transition: -webkit-transform 0.3s;
                    -moz-transition: -moz-transform 0.3s;
                    transition: transform 0.3s;
                    -webkit-transform-origin: 50% 0;
                    -moz-transform-origin: 50% 0;
                    transform-origin: 50% 0;
                    -webkit-transform-style: preserve-3d;
                    -moz-transform-style: preserve-3d;
                    transform-style: preserve-3d;
                    &::before {
                        position: absolute;
                        top: 100%;
                        left: 0px;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        background: #0965a0;
                        content: attr(data-hover);
                        -webkit-transition: background 0.3s;
                        -moz-transition: background 0.3s;
                        transition: background 0.3s;
                        -webkit-transform: rotateX(-90deg);
                        -moz-transform: rotateX(-90deg);
                        transform: rotateX(-90deg);
                        -webkit-transform-origin: 50% 0;
                        -moz-transform-origin: 50% 0;
                        transform-origin: 50% 0;
                    }
                }
            }
        }
    }
}
footer { 
    .comments {
        @include respond(print) { display: none; }
    }
}

.case { 
    .study-container  { 
        .study-thumbnail {
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;
            float: left;
            position: relative;
            width: 33.33%;
            color: white;        
            &:after {
                background-color: rgba(0, 0, 0, .3);
                content: "";
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                z-index: 50;
            }    
            .oneofthree {
                display: table;
                height: 0;
                position: relative;
                width: 100%;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                display: block;
                height: 0;
                padding-bottom: 56.25%;
                position: relative;
                width: 100%;
            }
            .container {
                z-index: 100;
                height: 100%;
                left: 0;
                position: absolute;
                top: 0;
                width: 100%;
                .inner {
                    display: table;
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    .element {
                        display: table-cell;
                        text-align: center;
                        vertical-align: middle;
                        .logo {
                            background-position: 0 0;
                            background-repeat: no-repeat;
                            background-size: cover;
                            display: inline-block;
                            height: 0;
                        }                    
                    }
                }
            }
            .desctime { 
                z-index: 100;
                height: 70%;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto auto;
                position: absolute;
                width: 100%;
                visibility: hidden;
                text-align: center;
                .time_circles {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    > div {
                        position: absolute;
                        text-align: center;
                        > h4 {
                            margin: 0px;
                            padding: 0px;
                            text-align: center;
                            text-transform: uppercase;
                            color: white;
                        }
                        > span {
                            display: block;
                            width: 100%;
                            text-align: center;
                            font-size: 300%;
                            margin-top: 0.4em;
                            font-weight: bold;
                        }
                    }
                }
                p {
                    margin-bottom: 0px;
                }
            }
            &:hover {
                &:after {
                    background-color: rgba(0, 0, 0, .8);
                }
                .container { 
                    visibility: hidden;
                } 
                .desctime {
                    visibility: visible;
                }
            }
        }
    }
}


.social-nav {
    display: block;
    position: fixed;
    left: 0;
    top: calc(50% - 60px);
    z-index: 3;
    .toogler {
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        display: block;
        float: left;
        height: 60px;
        width: 60px;
        margin: 0px 0 0;
        transition: all 0.45s ease 0s;
        span {
            color: white;
            display: block;
            font-size: 16px;
            height: 42px;
            padding-top: 18px;
            text-align: center;
            text-decoration: none;
            transition: all 0.5s ease 0s;
            width: 60px;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 1);
        }
    }
    ul.social-icon {
        margin: 0 0 0 60px;
        padding-right: 0;
        li {
            display: block;
            background-color: rgba(0, 0, 0, 0.5);
            float: right;
            height: 60px;
            list-style: none outside none;
            margin: 0px 0 0;
            overflow: hidden;
            transition: all 0.45s ease 0s;
            width: 0;
            a {                
                color: white;
                display: block;
                font-size: 16px;
                height: 42px;
                padding-top: 18px;
                text-align: center;
                text-decoration: none;
                transition: all 0.5s ease 0s;
                width: 60px;
            }
            &:hover {
                background-color: rgba(0, 0, 0, 1);
            }
        }
    }
    &:hover {
        ul.social-icon { 
            li {
                height: 60px;
                margin: 0px 0 0 1px;
                width: 60px;                
            }
        }
    }
}